/* 
	Stylesheet which will be used with an iPhone.

	From http://www.sanwebe.com/2013/01/40-css-buttons-from-codepen
	Inspired by http://dribbble.com/shots/693683-iOS-App-Icon-Switch?list=popular&offset=148

	All dimensions doubled from original
*/
@import url('http://fonts.googleapis.com/css?family=Oswald');
@import url('switchbutton_big.css');


/* Table-related
*/
td
	{
	font-family: Oswald;
	}
.table_column_label  {width: 320px; text-align: right; color: blue; font-size: 48px;}
.table_column_button {width: 280px;}
